.eventsListContainer{
    width: 100%;
    height: 100%;
}

.formEventContainer{
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.formEventContainer > input, textarea, select{
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 2vh;
}
.inputContainer{
    flex-direction: row;
    background-color: red;
}

.eventContainer{
    width: 55vh;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.eventContainer > h3, p{
    text-align: center;
}
.eventContainer > img{
    display: block;
    margin: 10px auto 0 auto;
    max-width: 90%;
    height: auto;
    border-radius: 2vh;
}
