*{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding: 0%;
}
body, html{
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    overflow-x: hidden;
}
.centralize{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main{
    width: 100%;
}
nav{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgb(197, 195, 195);
    z-index: 9;
}
.logo{
    width: 10vw;
    height: 10vh;
    max-height: 100px;
    max-width: 100px;
    height: auto;
    margin-left: 2%;
}
.navbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.navbar-elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 2%;
    padding-left: 2%;
}
.nav-item{
    list-style: none;
    margin-top: 2%;
}
.nav-link{
    color: black;
    text-decoration: underline;
    font-size: clamp(16px, 2vw, 20px);
}
.msg{
    width: 100%;
    text-align: center;
    background-color: lightgreen;
    color: white;
}
footer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 11vh;
    bottom: 0%;
    background-color: rgb(197, 195, 195);
    z-index: 10;
}
.footerText{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: 5%;
    margin: 0;
}