*{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding: 0%;
}
body, html{
    width: 100dvw;
    height: 100dvh;
}
.centralize{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
nav{
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: rgba(211, 211, 211, 0.541);
    z-index: 9;
}
.navbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.navbar-elements{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.nav-item{
    list-style: none;
}
.nav-link{
    color: black;
    text-decoration: none;
}
footer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 11vh;
    bottom: 0%;
    background-color: rgb(124, 124, 255);
    z-index: 10;
}
.footerText{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: 5%;
    margin: 0;
}