.homeContainer{
    position: absolute;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}
.banner{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}